    body {
        background: url("../images/background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .list-o-links {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-left: 5%; 
        padding: 10px; 
        line-height: 25px;
        list-style-type: disc;
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bolder;
        color: darkgreen;
    }

    .navbar-brand {
        font-family: Arial, Helvetica, sans-serif;
        background-color: darkgreen;
        font-weight: bold;
        color: white;
        padding: 5px;
    }

    .nav-link {
        color: grey;
    }

    .nav-item .active{
        color: black;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        width: 80%;
        padding: 10px;
    }

    a {
        color: cadetblue;
    }

    a:hover {
        color: blueviolet;
    }

    .pfolioImg {
        width: 350px;
        padding: 10px;
    }

    .zoom {
        transition: transform 0.5s;
       }
      
    .zoom:hover{
    transform: scale(1.05);
    }

    .portfolio-info {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-left: 5%; 
        padding: 10px; 
        line-height: 25px;
    }

    #portfolio {
        max-width: 80%;
        padding: 10px;
        margin-left: 30px;
    }

    #about {
        max-width: 75%;
        font-size: 90%;
        margin-left: 30px;
    }

    #contact {
        max-width: 80%;
        padding: 0px;
    }

    input[type=submit] {
        background-color: darkgreen;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: blueviolet;
    }

    /* Set the background of the navbar-toggler */
    .navbar-toggler { 
        background-color: darkgreen;
    } 

    /* Customise the navbar-toggler-icon to match the colouring of the webpages */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }

      /* Media queries to maniulate content for various screen/window sizes */
    @media screen and (min-width: 400px) {
        #portfolio {
            max-width: 75%;
            padding: 10px;
        }

        #about {
            max-width: 90%;
            font-size: 100%;
        }

        #contact .col-md-12 {
            max-width: 90%;
            margin: 0px;
            padding: 20px;
        }

        img {
            width: 100%;
            height: auto;
            max-width: 35vw;
        }
    }


    @media screen and (min-width: 768px) {
        #portfolio {
            max-width: 420px;
        }
        #about {
            max-width: 90%;
            font-size: 90%;
        }

        #contact .col-md-12 {
            max-width: 75%;
            margin: 0px;
            padding: 20px;
        }

        img {
            width: 350px;
            height: auto;
        }
    }

    @media screen and (min-width: 992px) {
        #portfolio {
            max-width: 750px;
        }

        #about {
            max-width: 800px;
            font-size: 80%;
        }

        #contact .col-md-12 {
            max-width: 50%;
            margin: 0px;
            padding: 20px;
        }

        img {
            max-width: 800px;
            height: auto;
        }
    }


    

    